* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Baloo Bhaina', cursive;
  color: blue;
  text-align: center;
}

#parentId {
  width: 90%;
  margin: 20px 5% 20px 5%;
}

#parentId div {
  display: inline-block;
  width: 30%;
  max-width: 30%;
  margin-right: 20px;
  padding: 10px;
  transition: background-color 0.3s;
}

div img {
  width: 100%;
}

#parentId div:hover {
  background-color: rgba(0, 255, 0, 0.5);
}
